.song-item {
    position: relative;
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding: 17px 51px;
    background-color: #18181C;
    transition: .3s;

    &:hover {
        background-color: #292929;

        .id {
            display: none;
        }

        .play {
            display: block;
            visibility: visible;
            transition: .3s;
        }

        .song-item__buttons {
            visibility: visible;
        }
    }

    p {
        margin: 6px 0 0 0;
        color: var(--color-text);
    }

    span {
        color: #BFBFBF;
    }

    &:first-child {
        margin-top: 0px;
    }

    .play {
        display: none;
        cursor: pointer;
    }
}

.song-item.active {
    background-color: #444444;

    .id {
        display: none;
    }

    .play {
        display: block;
    }

    .song-item__buttons {
        visibility: visible;
    }
}

.song-item__albom-info {
    display: flex;
    align-items: center;
}

.song-item__cover,
.song-item__track-info {
    margin-left: 32px;
}

.song-item__artist-info {
    width: 25%;
}

.song-item__buttons {
    display: flex;
    align-items: center;
    visibility: hidden;
}

.song-item__albom-info {
    width: 25%;
}

.play {
    width: 18px;
    height: 20px;
    background-image: url('/assets/icons/play-white.svg');
    border: none;
    background-color: transparent;
}

.context-menu__items {
    position: absolute;
    display: none;
    background-color: #292929;
    padding: 16px 16px;
    list-style: none;
    max-width: 248px;
    width: 100%;
    z-index: 9;
    top: 66px;
    right: 53px;

    .context-menu__item {
        padding: 16px 17px;
        width: auto;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: #3E3E3E;
            border-radius: 8px;
        }

        .context-menu__item-link {
            color: #fff;
            text-decoration: none;
        }

        img {
            width: 12px;
            height: 12px;
        }
    }
}

.song-item:nth-last-child(-n+4) {
    .context-menu__items {
        top: -340px;
    }
}

.context-menu__items.active {
    display: block;
    z-index: 3;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .song-item {
        padding: 17px 24px;
    }
    .song-item__duration-info,
    .song-item__artist-info {
        display: none;
    }
    .song-item__albom-info {
        width: auto;
    }
    .song-item__name {
        width: 115px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .song-item__buttons {
        visibility: visible;
    }

    .like-btn {
        display: none;
    }
    .song-item:last-child {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 820px) {
    .song-item:last-child {
        margin-bottom: 100px;
    }
    .song-item__buttons {
        visibility: visible;
    }
    .like-btn {
        display: none;
    }
    .song-item__duration-info {
        display: none;
    }
    .song-item__name {
        width: 115px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .song-item__artist-info {
        display: block;
    }
}